.gitignore
.git/
*.md

Makefile
Vagrantfile
.vagrant

.env.dev.example
.env.test.example
*venv/

.vagrant
.idea
.vscode

*.log

*node_modules/*

*.pytest_cache/*
*__pycache__/
*.py[cod]
*$py.class

setup.cfg
Makefile