version: '3.6'
services:
  redis-cache:
    image: redis:alpine
    container_name: redis-cache

  api:
    container_name: checkin-api
    depends_on:
      - redis-cache
    env_file:
      - backend/.env.dev
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    restart: always
    volumes:
      - './backend:/backend'
    ports:
      - '5000:5000'
      - '5555:5555'

  celery:
    depends_on:
      - redis-cache
    env_file:
      - backend/.env.dev
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command:
      [
        celery,
        worker,
        --app=tasks.celery.app,
        --pool=gevent,
        --concurrency=40,
        --loglevel=INFO,
      ]
    restart: always
    volumes:
      - './backend:/backend'

  client:
    depends_on:
      - api
    container_name: checkin-client
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev

    volumes:
      - /app/node_modules
      - ./frontend:/app

  nginx-proxy:
    container_name: nginx
    image: nginx:alpine
    restart: always
    depends_on:
      - client
    volumes:
      - ./nginx-proxy/dev.default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '8080:8080'
