version: '3.6'
services:
  redis-cache:
    image: redis:alpine

  api:
    depends_on:
      - redis-cache
    env_file:
      - backend/.env
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - './backend:/backend'
    ports:
      - '5555:5555'

  celery:
    depends_on:
      - redis-cache
    env_file:
      - backend/.env
    build:
      context: ./backend
      dockerfile: Dockerfile
    command:
      [
        celery,
        worker,
        --app=tasks.celery.app,
        --pool=gevent,
        --concurrency=40,
        --loglevel=INFO,
      ]
    restart: always
    volumes:
      - './backend:/backend'

  client:
    depends_on:
      - api
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - ./frontend:/app

  nginx:
    image: nginx:alpine
    restart: always
    depends_on:
      - client
      - certbot
    volumes:
      - ./nginx-proxy/prod.default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx-proxy/certbot/conf:/etc/letsencrypt
      - ./nginx-proxy/certbot/www:/var/www/certbot
    ports:
      - '80:80'
      - '443:443'
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    restart: always
    depends_on:
      - client
    volumes:
      - ./nginx-proxy/certbot/conf:/etc/letsencrypt
      - ./nginx-proxy/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
